<!DOCTYPE html>
<html lang="fr">
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Visualisation de données des licenciés sportifs en France en 2013</title>
		<meta name="description" content="Visualisation de données des licenciés sportifs en France en 2013">

		<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/base.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>

	<body ng-app="DataVizSport">
		<div ng-controller="MainCtrl">
			<div id="borderTop"></div>
			<div id="borderLeft"></div>
			<div id="borderBottom"></div>
			<div id="borderRight"></div>

			<a href="#/" id="home-link">home</a>
			<a ng-click="back()" id="back">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="25px" height="25px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
					<g>
						<g>
							<polygon fill="white" points="45.463,59.579 17.066,31.999 45.463,4.421 46.934,5.935 20.099,31.999 46.934,58.064 		"/>
						</g>
					</g>
				</svg>
			</a>
			<a ng-click="showInfo()" id="info">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="25px" height="25px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
					<g>
						<path fill="white" d="M32,4.249c-15.402,0-27.934,12.53-27.934,27.932c0,15.403,12.531,27.934,27.934,27.934
							s27.934-12.531,27.934-27.934C59.934,16.779,47.402,4.249,32,4.249z M32,57.605c-14.018,0-25.426-11.404-25.426-25.424
							C6.574,18.162,17.982,6.756,32,6.756c14.02,0,25.428,11.405,25.428,25.425C57.428,46.201,46.02,57.605,32,57.605z"/>
						<path fill="white" d="M31.819,23.068c-1.036,0-1.879,0.841-1.879,1.88v21.23c0,1.04,0.843,1.883,1.879,1.883
							c1.04,0,1.883-0.843,1.883-1.883v-21.23C33.702,23.909,32.858,23.068,31.819,23.068z"/>
						<circle fill="white" cx="31.937" cy="17.855" r="2.285"/>
					</g>
				</svg>
			</a>


			<section class="information" ng-style="styleInfo" ng-click="closeInfo()">
				<div class="container">
					<div class="row">
						<div class="center-block title">
							<h1>légende du site</h1>
						</div>
					</div>
				</div>
			</section>


			<div ng-view class="view" ng-click="closeInfo()"></div>

		</div>
		<!-- Scripts -->
		<script type="text/javascript" src="assets/js/d3/d3.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.2.26/angular-route.min.js"></script>

		<script type="text/javascript" src="assets/js/app.js"></script>
		<script type="text/javascript" src="assets/js/controllers/mainCtrl.js"></script>
		<script type="text/javascript" src="assets/js/services/dataservice.js"></script>
		<script type="text/javascript" src="assets/js/controllers/departements.js"></script><script type="text/javascript" src="assets/js/controllers/departement.js"></script>	<script type="text/javascript" src="assets/js/directives/mapDirective.js"></script>

	</body>

</html>