.home{
	height: 100%;
	.home-content{
		.landing-text{
			margin-top: 5%;
			text-align: center;
			h2{
				@include font($black,40px ,$aspergit-bold,normal);
				line-height: 80px;
				text-transform: uppercase;
			}
			h3{
				@include font($black,35px ,$aspergit,normal);
				line-height: 80px;
			}
			h4{
				@include font($black,25px ,$aspergit-light-italic,normal);
			}

			.icon-ecusson{
				margin: 0 auto; 
			}

			.separator-1{
				display: block;
				width: 80%;
				margin: 0 auto;
				height: 1px;
				background: $black;
				margin-top: 10px;
			}
			.separator-2{
				display: block;
				width: 60%;
				margin: 0 auto;
				height: 1px;
				background: $black;
				margin-top: 30px;
				margin-bottom: 10px;
			}
		}

		.link-start{
			margin-top: 100px;
			text-align:center;
			h4 {
				text-transform: uppercase;
			}
			a{
				@include font($black,20px ,$aspergit,10px);
				text-decoration: none;

				svg{
					display: inherit;
					margin-top: 10px;
					margin-left: -13px;
					@include transition-property(margin-top);
					@include transition-duration(1s);
				}

				&:hover svg{
					margin-top: 20px;
				}
			}
		}
	}
}