.oneStatDep svg {
	margin-top: -85px;
}

.departement {
	cursor: pointer;
}

.departement:hover {
	fill: black;
}

.textPathDep{
	font-size: 12px;
}

.infoCurrentDep{
	margin-top: 100px;
	text-align: center;
	.infoNomCurrentDep{
		@include font($black,40px ,$aspergit,normal);
		border-bottom: 1px solid $black;
		padding-bottom: 25px;
	}

	.infoNumCurrentDep{
		@include font($black,40px ,"Oswald",normal);
	}

	.infoNbLicenciesCurrentDep{
		padding-top: 25px;
		@include font($black,35px ,$aspergit,normal);
	}

	.infoLibelleNbLicenciesCurrentDep{
		@include font($black,30px ,$aspergit,normal);
		border-bottom: 1px solid $black;
		padding-bottom: 25px;
	}

	.oneStatDep{
		.listIcon{
			.iconSport{
				display: inline-block;
				margin:10px;
				width: 30px;
			}
		}

		.listNbLicencies{
			@include font($black,18px ,$aspergit-bold,normal);
			.chiffre{
				display: inline-block;
				text-align: center;
				margin:10px;
				width: 30px;
			}
		}
	}
}

.titleSite{
	border-top: 1px solid $black;
	text-align: center;
	margin-top: 100px;
	.hightTitle{
		text-transform: uppercase;
		line-height: 50px;
		padding-top: 50px;
		@include font($black,40px ,"Oswald",normal);
	}
	.subTitle{
		@include font($black,30px ,$aspergit,normal);
		margin-top: 15px;
		font-style: italic;
		border-bottom: 1px solid $black;
		padding-bottom: 50px;
	}
}

#chart{
	.bar{
		margin:10px;
		width: 30px;
		background: $black;
	}
}