.oneDep{
	margin-top: 60px;
	text-align:center;
	h2{
		@include font($black,px ,spergit-bold,rmal);
		line-height: 80px;
		text-transform: uppercase;
	}
	.graphDep {
		margin: 0 auto;
	}

	.path {
		cursor: pointer;
	}
}


