.oneDep{
	margin-top: 60px;
	text-align:center;
	h2{
		@include font($black,40px ,$aspergit-bold,normal);
		line-height: 80px;
		text-transform: uppercase;
	}
	.graphDep {
		margin: 0 auto;
	}

	.path, .pathtext {
		cursor: pointer;
	}
}


