/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Bibliothèques compass
@import "compass";
@import "compass/css3";
@import "compass/reset";
@import "compass/layout";
@import "colors";
@import "fonts";

// Importation du sprite
@import "icon/*.png";
@include all-icon-sprites(true);
$icon-sprite-dimensions: true;

@import "home";
@import "map";
@import "oneDep";

body, html{
	height : 100%;
}

body{
	@include font($black,14px ,$aspergit,normal);
	border: solid $grey 30px;
}

a,
a:active,
a:hover {
	outline: 0;
}

.view{
	height : 100%;
}

svg {
	display:block;
	overflow:hidden;/* fix IE */
}

#svgMapDep{	margin-top: -58px; }

/*	NAVIGATION */
#home-link{
	border-right: 1px solid $white;
	cursor: pointer;
	text-align: center;
	position: fixed;
	top: 0;
	left: 30px;
	height: 30px;
	width: 100px;
	background: $black;
	z-index: 99999;
	@include font($white,15px ,$aspergit,5px);
	text-decoration: none;
	line-height: 30px;
	@include transition-property(background, color);
	@include transition-duration(0.5s);
	&:hover{
		background: $white;
		color: $black;
	}
}

#back{
	cursor: pointer;
	padding: 3px;
	position: fixed;
	top: 0;
	left: 130px;
	height: 30px;
	width: 30px;
	background: $black;
	z-index: 99999;
	@include transition-property(background);
	@include transition-duration(0.5s);
	&:hover{
		background: $white;
	}
	&:hover polygon{
		fill: $black;
	}
}

#next{
	cursor: pointer;
	padding: 3px;
	position: fixed;
	top: 0;
	left: 160px;
	height: 30px;
	width: 30px;
	background: $black;
	z-index: 99999;
	@include transition-property(background);
	@include transition-duration(0.5s);
	&:hover{
		background: $white;
	}
	&:hover polygon{
		fill: $black;
	}
}

#info{
	cursor: pointer;
	padding: 3px;
	position: fixed;
	top: 0;
	right: 30px;
	height: 30px;
	width: 30px;
	background: image-url("bck-info-window.png") repeat;
	z-index: 99999;
	@include transition-property(background);
	@include transition-duration(0.5s);
	&:hover{
		background: $white;
	}
	&:hover path{
		fill: $black;
	}
}

/* Information frame */
.information{
	cursor: image-url("cross.png"), auto;
	visibility: hidden;
	position: fixed;
	background: image-url("bck-info-window.png") repeat;
	height: 100%;
	width: 100%;
	@include opacity(0.8);
	z-index: 999999;

	.title{
		@include opacity(1);
		@include font($white,40px ,$aspergit-bold,normal);
		width: 300px;
		margin-top: 100px;
	}

	.table{
		margin-top: 20%;
		display : table;
		@include font($white,28px ,$aspergit-bold,normal);
		.table-row{
			display : table-row;
			text-align: center;
			div{
				display: table-cell;
				text-align: center;
				width: 13%;
				span{
					display: inline-block;
				}
				.sportTitle {
					padding: 0 8px 0 8px;
					font-size: 16px;
					span {
						font-size: 19px;
						display: inherit;
					}
				}
			}
		}
	}


}