/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Bibliothèques compass
@import "compass";
@import "compass/css3";
@import "compass/reset";
@import "compass/layout";
@import "colors";
@import "fonts";

// Importation du sprite
@import "icon/*.png";
@include all-icon-sprites(true);
$icon-sprite-dimensions: true;

@import "animate";
@import "transition";
@import "home";
@import "map";
@import "oneDep";

body, html{
	height : 100%;
}

body{
	@include font($black,14px ,$aspergit,normal);
	// border: solid $grey 30px;
	// position:absolute;
	// height: 100%;
	// width: 100%;
}

#borderTop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	background: $grey;
	z-index: 99999;
}

#borderLeft {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 30px;
	background: $grey;
	z-index: 99999;
}

#borderBottom {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 30px;
	background: $grey;
	z-index: 99999;
}

#borderRight {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 30px;
	background: $grey;
	z-index: 99999;
}

a,
a:active,
a:hover {
	outline: 0;
}

.view{
	height : 100%;
	position: absolute;
	width: 100%;
}

svg {
	display:block;
	overflow:hidden;/* fix IE */
}

#svgMapDep{	margin-top: -65px; }

/*	NAVIGATION */
#home-link{
	border-right: 1px solid $white;
	cursor: pointer;
	text-align: center;
	position: fixed;
	top: 0;
	left: 30px;
	height: 30px;
	width: 100px;
	background: $black;
	z-index: 99999;
	@include font($white,15px ,$aspergit,5px);
	text-decoration: none;
	line-height: 30px;
	@include transition-property(background, color);
	@include transition-duration(0.5s);
	&:hover{
		background: $white;
		color: $black;
	}
}

#back{
	cursor: pointer;
	padding: 3px;
	position: fixed;
	top: 0;
	left: 130px;
	height: 30px;
	width: 30px;
	background: $black;
	z-index: 99999;
	@include transition-property(background);
	@include transition-duration(0.5s);
	&:hover{
		background: $white;
	}
	&:hover polygon{
		fill: $black;
	}
}

#next{
	cursor: pointer;
	padding: 3px;
	position: fixed;
	top: 0;
	left: 160px;
	height: 30px;
	width: 30px;
	background: $black;
	z-index: 99999;
	@include transition-property(background);
	@include transition-duration(0.5s);
	&:hover{
		background: $white;
	}
	&:hover polygon{
		fill: $black;
	}
}

#info{
	cursor: pointer;
	padding: 3px;
	position: fixed;
	top: 0;
	right: 30px;
	height: 30px;
	width: 30px;
	background: image-url("bck-info-window.png") repeat;
	z-index: 99999;
	@include transition-property(background);
	@include transition-duration(0.5s);
	&:hover{
		background: $white;
	}
	&:hover path{
		fill: $black;
	}
}

/* Information frame */
.information{
	cursor: image-url("cross.png"), auto;
	visibility: hidden;
	position: fixed;
	background: image-url("bck-info-window.png") repeat;
	height: 100%;
	width: 100%;
	// margin: -30px 0 0 -30px;
	@include opacity(0.8);
	z-index: 999999;

	.title{
		@include opacity(1);
		@include font($white,40px ,$aspergit-bold,normal);
		width: 300px;
		margin-top: 100px;
	}

	.table{
		margin-top: 20%;
		display : table;
		@include font($white,28px ,$aspergit-bold,normal);
		.table-row{
			display : table-row;
			text-align: center;
			div{
				display: table-cell;
				text-align: center;
				width: 13%;
				span{
					display: inline-block;
				}
				.sportTitle {
					padding: 0 8px 0 8px;
					font-size: 16px;
					span {
						font-size: 19px;
						display: inherit;
					}
				}
			}
		}
	}


}

/* Sticky footer */
#compteurs{
	.blockDepartements{
		height: 100px;
		width: 200px;
		background-color: $black;
		z-index: 9999;
		position: fixed;
		bottom: 30px;
		left: 30px;
		text-align: center;
		text-transform: uppercase;
		.nbDepartements{
			@include font($white,35px ,"Oswald",normal);
			display: block;
			font-weight: bold;
			line-height: 60px;
		}
		.libelleNbDepartements{
			@include font($white,15px ,$aspergit,normal);
		}
	}
	.blockNumDep{
		height: 100px;
		width: 200px;
		background-color: $black;
		z-index: 9999;
		position: fixed;
		bottom: 30px;
		left: 30px;
		text-align: center;
		text-transform: uppercase;
		.numDep{
			@include font($white,45px ,"Oswald",normal);
			display: block;
			font-weight: bold;
			line-height: 100px;
		}
	}

	.blockInstallations{
		height: 100px;
		width: 200px;
		background-color: $black;
		z-index: 9999;
		position: fixed;
		bottom: 30px;
		left: 230px;
		text-align: center;
		border-left: 1px solid white;
		text-transform: uppercase;
		.nbInstallations{
			@include font($white,35px ,"Oswald",normal);
			display: block;
			font-weight: bold;
			line-height: 60px;
		}
		.libelleNbInstallations{
			@include font($white,15px ,$aspergit,normal);
		}
	}

	.blockLicences{
		height: 100px;
		width: 150px;
		background-color: $black;
		z-index: 9999;
		position: fixed;
		bottom: 30px;
		left: 430px;
		text-align: center;
		border-left: 1px solid white;
		text-transform: uppercase;
		.nbLicencies{
			@include font($white,35px ,"Oswald",normal);
			display: block;
			font-weight: bold;
			line-height: 60px;
		}
		.libelleNbLicencies{
			@include font($white,15px ,$aspergit,normal);
		}
	}
}
