<div class="container" >
	<div class="row oneDep" ng-controller="DepartementCtrl">
		<div class="center-block">
			<h2>Département {{ dataDep.departement }}</h2>
			<section ng-if="loadingIsDone">
				<linechart data="dataDep"></linechart>
			</section>
		</div>
	</div>

	<section id="compteurs">
		<div class="blockNumDep">
			<span class="numDep">#{{ numDep }}</span>
		</div>
		<div class="blockInstallations">
			<span class="nbInstallations" ng-bind="equipementsBind">0</span>
			<span class="libelleNbInstallations">Installations</span>
			<p class="infoCompteurs">x 10 000</p>
		</div>
		<div class="blockLicences">
			<span class="nbLicencies" ng-bind="licenciesBind">0</span>
			<span class="libelleNbLicencies">Licenciés</span>
			<p class="infoCompteurs">x 10 000</p>
		</div>
	</section>

</div>