<div class="container oneDep" ng-controller="DepartementCtrl">
	<div class="row" >
		<div class="center-block">
			<section ng-if="loadingIsDone">
				<linechart data="dataDep"></linechart>				
			</section>
		</div>
	</div>

	<section id="compteurs">
		<div class="blockNumDep">
			<span class="numDep">#{{ numDep }}</span>
		</div>
		<div class="blockInstallations">
			<span class="nbInstallations" ng-bind="equipementsBind">0</span>
			<span class="libelleNbInstallations">Installations</span>
		</div>
		<div class="blockLicences">
			<span class="nbLicencies" ng-bind="nbLicencesDep">0</span>
			<span class="libelleNbLicencies">Licenciés</span>
		</div>
	</section>

</div>