<div class="home">
	<div class="container home-content">

		<div class="row">
			<div class="center-block landing-text">
				<h2>LES LICENCIES ET INSTALLATIONS SPORTIVES</h2>
				<h3>en France métropolitaine</h3>
				<h4>pour 10 000 habitants</h4>
			</div>
		</div>

		<div class="row">
			<div class="center-block link-start">
				<a href="#/map">
					<h4>START</h4>
					<svg  x="0px" y="0px" width="42.427px" height="23.334px" >
		                <polygon points="40.305,0 21.213,19.092 2.122,0 0,2.121 19.092,21.213 21.213,23.334 23.334,21.213 42.427,2.121 "/>
		            </svg>
	            </a>
			</div>
		</div>
	</div>
</div>