/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,,800,900);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
/* line 5, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Aspergit";
  src: url('../fonts/aspergit-webfont.ttf?1413410359') format('truetype');
}
@font-face {
  font-family: "Aspergit Light";
  src: url('../fonts/aspergit_light-webfont.ttf?1413410360') format('truetype');
}
@font-face {
  font-family: "Aspergit Light Italic";
  src: url('../fonts/aspergit_light_italic-webfont.ttf?1413410360') format('truetype');
}
@font-face {
  font-family: "Aspergit Italic";
  src: url('../fonts/aspergit_italic-webfont.ttf?1413410359') format('truetype');
}
@font-face {
  font-family: "Aspergit Bold Italic";
  src: url('../fonts/aspergit_bold_italic_0-webfont.ttf?1413410359') format('truetype');
}
@font-face {
  font-family: "Aspergit Bold";
  src: url('../fonts/aspergit_bold-webfont.ttf?1413410359') format('truetype');
}
@font-face {
  font-family: "Blenda Script";
  src: url('../fonts/blenda_script-webfont.ttf?1413410360') format('truetype');
}
/* line 104, icon/*.png */
.icon-sprite, .icon-balle, .icon-basketball, .icon-combat-old, .icon-combat, .icon-football, .icon-golf, .icon-horse, .icon-tennis {
  background-image: url('../sass/img/icon-s507495bb9d.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-balle {
  background-position: 0 0;
  height: 24px;
  width: 24px;
}

/* line 84, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-basketball {
  background-position: 0 -24px;
  height: 24px;
  width: 24px;
}

/* line 84, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-combat-old {
  background-position: 0 -48px;
  height: 24px;
  width: 24px;
}

/* line 84, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-combat {
  background-position: 0 -72px;
  height: 24px;
  width: 24px;
}

/* line 84, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-football {
  background-position: 0 -96px;
  height: 24px;
  width: 22px;
}

/* line 84, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-golf {
  background-position: 0 -120px;
  height: 24px;
  width: 24px;
}

/* line 84, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-horse {
  background-position: 0 -144px;
  height: 24px;
  width: 24px;
}

/* line 84, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-tennis {
  background-position: 0 -168px;
  height: 24px;
  width: 24px;
}

/* line 1, ../sass/_home.scss */
.home {
  height: 100%;
}
/* line 4, ../sass/_home.scss */
.home .home-content .landing-text {
  margin-top: 200px;
  text-align: center;
}
/* line 7, ../sass/_home.scss */
.home .home-content .landing-text h2 {
  color: #050505;
  font-size: 40px;
  font-family: "Aspergit Bold";
  letter-spacing: normal;
  line-height: 80px;
}
/* line 11, ../sass/_home.scss */
.home .home-content .landing-text h3 {
  color: #050505;
  font-size: 35px;
  font-family: "Aspergit";
  letter-spacing: normal;
  line-height: 80px;
}
/* line 15, ../sass/_home.scss */
.home .home-content .landing-text h4 {
  color: #050505;
  font-size: 25px;
  font-family: "Aspergit Light Italic";
  letter-spacing: normal;
}
/* line 19, ../sass/_home.scss */
.home .home-content .landing-text .listIconLanding {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 22, ../sass/_home.scss */
.home .home-content .landing-text .listIconLanding div {
  float: left;
}
/* line 28, ../sass/_home.scss */
.home .home-content .link-start {
  margin-top: 100px;
  width: 100px;
}
/* line 31, ../sass/_home.scss */
.home .home-content .link-start a {
  color: #050505;
  font-size: 20px;
  font-family: "Aspergit";
  letter-spacing: 10px;
  text-decoration: none;
}
/* line 35, ../sass/_home.scss */
.home .home-content .link-start a svg {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  -moz-transition-property: margin-top;
  -o-transition-property: margin-top;
  -webkit-transition-property: margin-top;
  transition-property: margin-top;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 43, ../sass/_home.scss */
.home .home-content .link-start a:hover svg {
  margin-top: 20px;
}

/* line 1, ../sass/_map.scss */
.oneStatDep svg {
  margin-top: -85px;
}

/* line 5, ../sass/_map.scss */
.departement {
  cursor: pointer;
}

/* line 9, ../sass/_map.scss */
.departement:hover {
  fill: black;
}

/* line 13, ../sass/_map.scss */
.textPathDep {
  font-size: 12px;
}

/* line 17, ../sass/_map.scss */
.infoCurrentDep {
  margin-top: 100px;
  text-align: center;
}
/* line 20, ../sass/_map.scss */
.infoCurrentDep .infoNomCurrentDep {
  color: #050505;
  font-size: 40px;
  font-family: "Aspergit";
  letter-spacing: normal;
  border-bottom: 1px solid #050505;
  padding-bottom: 25px;
}
/* line 26, ../sass/_map.scss */
.infoCurrentDep .infoNumCurrentDep {
  color: #050505;
  font-size: 40px;
  font-family: "Oswald";
  letter-spacing: normal;
}
/* line 30, ../sass/_map.scss */
.infoCurrentDep .infoNbLicenciesCurrentDep {
  padding-top: 25px;
  color: #050505;
  font-size: 35px;
  font-family: "Aspergit";
  letter-spacing: normal;
}
/* line 35, ../sass/_map.scss */
.infoCurrentDep .infoLibelleNbLicenciesCurrentDep {
  color: #050505;
  font-size: 30px;
  font-family: "Aspergit";
  letter-spacing: normal;
  border-bottom: 1px solid #050505;
  padding-bottom: 25px;
}
/* line 43, ../sass/_map.scss */
.infoCurrentDep .oneStatDep .listIcon .iconSport {
  display: inline-block;
  margin: 10px;
  width: 30px;
}
/* line 50, ../sass/_map.scss */
.infoCurrentDep .oneStatDep .listNbLicencies {
  color: #050505;
  font-size: 18px;
  font-family: "Aspergit Bold";
  letter-spacing: normal;
}
/* line 52, ../sass/_map.scss */
.infoCurrentDep .oneStatDep .listNbLicencies .chiffre {
  display: inline-block;
  text-align: center;
  margin: 10px;
  width: 30px;
}

/* line 62, ../sass/_map.scss */
.titleSite {
  border-top: 1px solid #050505;
  text-align: center;
  margin-top: 100px;
}
/* line 66, ../sass/_map.scss */
.titleSite .hightTitle {
  padding-top: 50px;
  color: #050505;
  font-size: 40px;
  font-family: "Oswald";
  letter-spacing: normal;
}
/* line 70, ../sass/_map.scss */
.titleSite .subTitle {
  color: #050505;
  font-size: 30px;
  font-family: "Aspergit";
  letter-spacing: normal;
  margin-top: 15px;
  font-style: italic;
  border-bottom: 1px solid #050505;
  padding-bottom: 50px;
}

/* line 80, ../sass/_map.scss */
#chart .bar {
  margin: 10px;
  width: 30px;
  background: #050505;
}

/* Sticky footer */
/* line 89, ../sass/_map.scss */
#compteurs .blockDepartements {
  height: 100px;
  width: 200px;
  background-color: #050505;
  z-index: 9999;
  position: fixed;
  bottom: 30px;
  left: 30px;
  text-align: center;
  text-transform: uppercase;
}
/* line 99, ../sass/_map.scss */
#compteurs .blockDepartements .nbDepartements {
  color: #ffffff;
  font-size: 35px;
  font-family: "Oswald";
  letter-spacing: normal;
  display: block;
  font-weight: bold;
  line-height: 60px;
}
/* line 105, ../sass/_map.scss */
#compteurs .blockDepartements .libelleNbDepartements {
  color: #ffffff;
  font-size: 15px;
  font-family: "Aspergit";
  letter-spacing: normal;
}
/* line 110, ../sass/_map.scss */
#compteurs .blockInstallations {
  height: 100px;
  width: 200px;
  background-color: #050505;
  z-index: 9999;
  position: fixed;
  bottom: 30px;
  left: 230px;
  text-align: center;
  border-left: 1px solid white;
  text-transform: uppercase;
}
/* line 121, ../sass/_map.scss */
#compteurs .blockInstallations .nbInstallations {
  color: #ffffff;
  font-size: 35px;
  font-family: "Oswald";
  letter-spacing: normal;
  display: block;
  font-weight: bold;
  line-height: 60px;
}
/* line 127, ../sass/_map.scss */
#compteurs .blockInstallations .libelleNbInstallations {
  color: #ffffff;
  font-size: 15px;
  font-family: "Aspergit";
  letter-spacing: normal;
}
/* line 132, ../sass/_map.scss */
#compteurs .blockLicences {
  height: 100px;
  width: 150px;
  background-color: #050505;
  z-index: 9999;
  position: fixed;
  bottom: 30px;
  left: 430px;
  text-align: center;
  border-left: 1px solid white;
  text-transform: uppercase;
}
/* line 143, ../sass/_map.scss */
#compteurs .blockLicences .nbLicencies {
  color: #ffffff;
  font-size: 35px;
  font-family: "Oswald";
  letter-spacing: normal;
  display: block;
  font-weight: bold;
  line-height: 60px;
}
/* line 149, ../sass/_map.scss */
#compteurs .blockLicences .libelleNbLicencies {
  color: #ffffff;
  font-size: 15px;
  font-family: "Aspergit";
  letter-spacing: normal;
}

/* line 2, ../sass/_oneDep.scss */
#compteurs .blockNumDep {
  height: 100px;
  width: 200px;
  background-color: #050505;
  z-index: 9999;
  position: fixed;
  bottom: 30px;
  left: 30px;
  text-align: center;
  text-transform: uppercase;
}
/* line 12, ../sass/_oneDep.scss */
#compteurs .blockNumDep .numDep {
  color: #ffffff;
  font-size: 45px;
  font-family: "Oswald";
  letter-spacing: normal;
  display: block;
  font-weight: bold;
  line-height: 100px;
}
/* line 20, ../sass/_oneDep.scss */
#compteurs .blockInstallations {
  height: 100px;
  width: 200px;
  background-color: #050505;
  z-index: 9999;
  position: fixed;
  bottom: 30px;
  left: 230px;
  text-align: center;
  border-left: 1px solid white;
  text-transform: uppercase;
}
/* line 31, ../sass/_oneDep.scss */
#compteurs .blockInstallations .nbInstallations {
  color: #ffffff;
  font-size: 35px;
  font-family: "Oswald";
  letter-spacing: normal;
  display: block;
  font-weight: bold;
  line-height: 60px;
}
/* line 37, ../sass/_oneDep.scss */
#compteurs .blockInstallations .libelleNbInstallations {
  color: #ffffff;
  font-size: 15px;
  font-family: "Aspergit";
  letter-spacing: normal;
}
/* line 42, ../sass/_oneDep.scss */
#compteurs .blockLicences {
  height: 100px;
  width: 150px;
  background-color: #050505;
  z-index: 9999;
  position: fixed;
  bottom: 30px;
  left: 430px;
  text-align: center;
  border-left: 1px solid white;
  text-transform: uppercase;
}
/* line 53, ../sass/_oneDep.scss */
#compteurs .blockLicences .nbLicencies {
  color: #ffffff;
  font-size: 35px;
  font-family: "Oswald";
  letter-spacing: normal;
  display: block;
  font-weight: bold;
  line-height: 60px;
}
/* line 59, ../sass/_oneDep.scss */
#compteurs .blockLicences .libelleNbLicencies {
  color: #ffffff;
  font-size: 15px;
  font-family: "Aspergit";
  letter-spacing: normal;
}

/* line 24, ../sass/base.scss */
body, html {
  height: 100%;
}

/* line 28, ../sass/base.scss */
body {
  color: #050505;
  font-size: 14px;
  font-family: "Aspergit";
  letter-spacing: normal;
}

/* line 32, ../sass/base.scss */
.view {
  height: 100%;
}

/* line 35, ../sass/base.scss */
#borderTop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: #babdc0;
  z-index: 9999;
}

/* line 45, ../sass/base.scss */
#borderLeft {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30px;
  background: #babdc0;
  z-index: 9999;
}

/* line 55, ../sass/base.scss */
#borderBottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30px;
  background: #babdc0;
  z-index: 9999;
}

/* line 65, ../sass/base.scss */
#borderRight {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  background: #babdc0;
  z-index: 9999;
}

/* line 75, ../sass/base.scss */
svg {
  display: block;
  overflow: hidden;
  /* fix IE */
}

/* line 80, ../sass/base.scss */
#svgMapDep {
  margin-top: -58px;
}

/*	NAVIGATION */
/* line 83, ../sass/base.scss */
#home-link {
  border-right: 1px solid #ffffff;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  left: 30px;
  height: 30px;
  width: 100px;
  background: #050505;
  z-index: 99999;
  color: #ffffff;
  font-size: 15px;
  font-family: "Aspergit";
  letter-spacing: 5px;
  text-decoration: none;
  line-height: 30px;
  -moz-transition-property: background, color;
  -o-transition-property: background, color;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 99, ../sass/base.scss */
#home-link:hover {
  background: #ffffff;
  color: #050505;
}

/* line 105, ../sass/base.scss */
#back {
  cursor: pointer;
  padding: 3px;
  position: fixed;
  top: 0;
  left: 130px;
  height: 30px;
  width: 30px;
  background: #050505;
  z-index: 99999;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 117, ../sass/base.scss */
#back:hover {
  background: #ffffff;
}
/* line 120, ../sass/base.scss */
#back:hover polygon {
  fill: #050505;
}

/* line 125, ../sass/base.scss */
#next {
  cursor: pointer;
  padding: 3px;
  position: fixed;
  top: 0;
  left: 160px;
  height: 30px;
  width: 30px;
  background: #050505;
  z-index: 99999;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 137, ../sass/base.scss */
#next:hover {
  background: #ffffff;
}
/* line 140, ../sass/base.scss */
#next:hover polygon {
  fill: #050505;
}

/* line 145, ../sass/base.scss */
#info {
  cursor: pointer;
  padding: 3px;
  position: fixed;
  top: 0;
  right: 30px;
  height: 30px;
  width: 30px;
  background: #050505;
  z-index: 99999;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 157, ../sass/base.scss */
#info:hover {
  background: #ffffff;
}
/* line 160, ../sass/base.scss */
#info:hover path {
  fill: #050505;
}

/* Information frame */
/* line 166, ../sass/base.scss */
.information {
  visibility: hidden;
  position: fixed;
  background: url('../sass/img/bck-info-window.png?1352305078') repeat;
  height: 100%;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  z-index: 999999;
}
/* line 175, ../sass/base.scss */
.information .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  color: #ffffff;
  font-size: 40px;
  font-family: "Aspergit Bold";
  letter-spacing: normal;
  width: 300px;
  margin-top: 100px;
}
