/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,,800,900);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
/* line 5, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Aspergit";
  src: url('../fonts/aspergit-webfont.ttf?1413559459') format('truetype');
}
@font-face {
  font-family: "Aspergit Light";
  src: url('../fonts/aspergit_light-webfont.ttf?1413559459') format('truetype');
}
@font-face {
  font-family: "Aspergit Light Italic";
  src: url('../fonts/aspergit_light_italic-webfont.ttf?1413559459') format('truetype');
}
@font-face {
  font-family: "Aspergit Italic";
  src: url('../fonts/aspergit_italic-webfont.ttf?1413559459') format('truetype');
}
@font-face {
  font-family: "Aspergit Bold Italic";
  src: url('../fonts/aspergit_bold_italic_0-webfont.ttf?1413559459') format('truetype');
}
@font-face {
  font-family: "Aspergit Bold";
  src: url('../fonts/aspergit_bold-webfont.ttf?1413559459') format('truetype');
}
@font-face {
  font-family: "Blenda Script";
  src: url('../fonts/blenda_script-webfont.ttf?1413559459') format('truetype');
}
/* line 176, icon/*.png */
.icon-sprite, .icon-baseball, .icon-basketball, .icon-combat, .icon-ecusson, .icon-football, .icon-golf, .icon-horse, .icon-petanque, .icon-tennis, .icon-w-baseball, .icon-w-basketball, .icon-w-combat, .icon-w-football, .icon-w-golf, .icon-w-horse, .icon-w-petanque, .icon-w-tennis {
  background-image: url('../sass/img/icon-s89b38b3548.png');
  background-repeat: no-repeat;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-baseball {
  background-position: 0 0;
  height: 28px;
  width: 28px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-basketball {
  background-position: 0 -28px;
  height: 28px;
  width: 28px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-combat {
  background-position: 0 -56px;
  height: 27px;
  width: 30px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-ecusson {
  background-position: 0 -83px;
  height: 123px;
  width: 128px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-football {
  background-position: 0 -206px;
  height: 28px;
  width: 28px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-golf {
  background-position: 0 -234px;
  height: 28px;
  width: 28px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-horse {
  background-position: 0 -262px;
  height: 28px;
  width: 23px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-petanque {
  background-position: 0 -290px;
  height: 28px;
  width: 28px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-tennis {
  background-position: 0 -318px;
  height: 28px;
  width: 28px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-w-baseball {
  background-position: 0 -346px;
  height: 28px;
  width: 28px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-w-basketball {
  background-position: 0 -374px;
  height: 28px;
  width: 28px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-w-combat {
  background-position: 0 -402px;
  height: 27px;
  width: 30px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-w-football {
  background-position: 0 -429px;
  height: 28px;
  width: 28px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-w-golf {
  background-position: 0 -457px;
  height: 28px;
  width: 28px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-w-horse {
  background-position: 0 -485px;
  height: 28px;
  width: 23px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-w-petanque {
  background-position: 0 -513px;
  height: 28px;
  width: 28px;
}

/* line 84, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-w-tennis {
  background-position: 0 -541px;
  height: 28px;
  width: 28px;
}

/* line 1, ../sass/_home.scss */
.home {
  height: 100%;
}
/* line 4, ../sass/_home.scss */
.home .home-content .landing-text {
  margin-top: 5%;
  text-align: center;
}
/* line 7, ../sass/_home.scss */
.home .home-content .landing-text h2 {
  color: #050505;
  font-size: 40px;
  font-family: "Aspergit Bold";
  letter-spacing: normal;
  line-height: 80px;
  text-transform: uppercase;
}
/* line 12, ../sass/_home.scss */
.home .home-content .landing-text h3 {
  color: #050505;
  font-size: 35px;
  font-family: "Aspergit";
  letter-spacing: normal;
  line-height: 80px;
}
/* line 16, ../sass/_home.scss */
.home .home-content .landing-text h4 {
  color: #050505;
  font-size: 25px;
  font-family: "Aspergit Light Italic";
  letter-spacing: normal;
}
/* line 20, ../sass/_home.scss */
.home .home-content .landing-text .icon-ecusson {
  margin: 0 auto;
}
/* line 24, ../sass/_home.scss */
.home .home-content .landing-text .separator-1 {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 1px;
  background: #050505;
  margin-top: 10px;
}
/* line 32, ../sass/_home.scss */
.home .home-content .landing-text .separator-2 {
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 1px;
  background: #050505;
  margin-top: 30px;
  margin-bottom: 10px;
}
/* line 43, ../sass/_home.scss */
.home .home-content .link-start {
  margin-top: 100px;
  text-align: center;
}
/* line 46, ../sass/_home.scss */
.home .home-content .link-start h4 {
  text-transform: uppercase;
}
/* line 49, ../sass/_home.scss */
.home .home-content .link-start a {
  color: #050505;
  font-size: 20px;
  font-family: "Aspergit";
  letter-spacing: 10px;
  text-decoration: none;
}
/* line 53, ../sass/_home.scss */
.home .home-content .link-start a svg {
  display: inherit;
  margin-top: 10px;
  margin-left: -13px;
  -moz-transition-property: margin-top;
  -o-transition-property: margin-top;
  -webkit-transition-property: margin-top;
  transition-property: margin-top;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 61, ../sass/_home.scss */
.home .home-content .link-start a:hover svg {
  margin-top: 20px;
}

/* line 1, ../sass/_map.scss */
.oneStatDep svg {
  margin-top: -85px;
}

/* line 5, ../sass/_map.scss */
.departement {
  cursor: pointer;
}

/* line 9, ../sass/_map.scss */
.departement:hover {
  fill: black;
}

/* line 13, ../sass/_map.scss */
.textPathDep {
  font-size: 12px;
}

/* line 17, ../sass/_map.scss */
.infoCurrentDep {
  margin-top: 100px;
  text-align: center;
}
/* line 20, ../sass/_map.scss */
.infoCurrentDep .infoNomCurrentDep {
  color: #050505;
  font-size: 40px;
  font-family: "Aspergit";
  letter-spacing: normal;
  border-bottom: 1px solid #050505;
  padding-bottom: 25px;
}
/* line 26, ../sass/_map.scss */
.infoCurrentDep .infoNumCurrentDep {
  color: #050505;
  font-size: 40px;
  font-family: "Oswald";
  letter-spacing: normal;
}
/* line 30, ../sass/_map.scss */
.infoCurrentDep .infoNbLicenciesCurrentDep {
  padding-top: 25px;
  color: #050505;
  font-size: 35px;
  font-family: "Aspergit";
  letter-spacing: normal;
}
/* line 35, ../sass/_map.scss */
.infoCurrentDep .infoLibelleNbLicenciesCurrentDep {
  color: #050505;
  font-size: 30px;
  font-family: "Aspergit";
  letter-spacing: normal;
  border-bottom: 1px solid #050505;
  padding-bottom: 25px;
}
/* line 43, ../sass/_map.scss */
.infoCurrentDep .oneStatDep .listIcon .iconSport {
  display: inline-block;
  margin: 10px;
  width: 30px;
}
/* line 50, ../sass/_map.scss */
.infoCurrentDep .oneStatDep .listNbLicencies {
  color: #050505;
  font-size: 18px;
  font-family: "Aspergit Bold";
  letter-spacing: normal;
}
/* line 52, ../sass/_map.scss */
.infoCurrentDep .oneStatDep .listNbLicencies .chiffre {
  display: inline-block;
  text-align: center;
  margin: 10px;
  width: 30px;
}

/* line 62, ../sass/_map.scss */
.titleSite {
  border-top: 1px solid #050505;
  text-align: center;
  margin-top: 100px;
}
/* line 66, ../sass/_map.scss */
.titleSite .hightTitle {
  padding-top: 50px;
  color: #050505;
  font-size: 40px;
  font-family: "Oswald";
  letter-spacing: normal;
}
/* line 70, ../sass/_map.scss */
.titleSite .subTitle {
  color: #050505;
  font-size: 30px;
  font-family: "Aspergit";
  letter-spacing: normal;
  margin-top: 15px;
  font-style: italic;
  border-bottom: 1px solid #050505;
  padding-bottom: 50px;
}

/* line 80, ../sass/_map.scss */
#chart .bar {
  margin: 10px;
  width: 30px;
  background: #050505;
}

/* Sticky footer */
/* line 89, ../sass/_map.scss */
#compteurs .blockDepartements {
  height: 100px;
  width: 200px;
  background-color: #050505;
  z-index: 9999;
  position: fixed;
  bottom: 30px;
  left: 30px;
  text-align: center;
  text-transform: uppercase;
}
/* line 99, ../sass/_map.scss */
#compteurs .blockDepartements .nbDepartements {
  color: #ffffff;
  font-size: 35px;
  font-family: "Oswald";
  letter-spacing: normal;
  display: block;
  font-weight: bold;
  line-height: 60px;
}
/* line 105, ../sass/_map.scss */
#compteurs .blockDepartements .libelleNbDepartements {
  color: #ffffff;
  font-size: 15px;
  font-family: "Aspergit";
  letter-spacing: normal;
}
/* line 110, ../sass/_map.scss */
#compteurs .blockInstallations {
  height: 100px;
  width: 200px;
  background-color: #050505;
  z-index: 9999;
  position: fixed;
  bottom: 30px;
  left: 230px;
  text-align: center;
  border-left: 1px solid white;
  text-transform: uppercase;
}
/* line 121, ../sass/_map.scss */
#compteurs .blockInstallations .nbInstallations {
  color: #ffffff;
  font-size: 35px;
  font-family: "Oswald";
  letter-spacing: normal;
  display: block;
  font-weight: bold;
  line-height: 60px;
}
/* line 127, ../sass/_map.scss */
#compteurs .blockInstallations .libelleNbInstallations {
  color: #ffffff;
  font-size: 15px;
  font-family: "Aspergit";
  letter-spacing: normal;
}
/* line 132, ../sass/_map.scss */
#compteurs .blockLicences {
  height: 100px;
  width: 150px;
  background-color: #050505;
  z-index: 9999;
  position: fixed;
  bottom: 30px;
  left: 430px;
  text-align: center;
  border-left: 1px solid white;
  text-transform: uppercase;
}
/* line 143, ../sass/_map.scss */
#compteurs .blockLicences .nbLicencies {
  color: #ffffff;
  font-size: 35px;
  font-family: "Oswald";
  letter-spacing: normal;
  display: block;
  font-weight: bold;
  line-height: 60px;
}
/* line 149, ../sass/_map.scss */
#compteurs .blockLicences .libelleNbLicencies {
  color: #ffffff;
  font-size: 15px;
  font-family: "Aspergit";
  letter-spacing: normal;
}

/* line 2, ../sass/_oneDep.scss */
#compteurs .blockNumDep {
  height: 100px;
  width: 200px;
  background-color: #050505;
  z-index: 9999;
  position: fixed;
  bottom: 30px;
  left: 30px;
  text-align: center;
  text-transform: uppercase;
}
/* line 12, ../sass/_oneDep.scss */
#compteurs .blockNumDep .numDep {
  color: #ffffff;
  font-size: 45px;
  font-family: "Oswald";
  letter-spacing: normal;
  display: block;
  font-weight: bold;
  line-height: 100px;
}
/* line 20, ../sass/_oneDep.scss */
#compteurs .blockInstallations {
  height: 100px;
  width: 200px;
  background-color: #050505;
  z-index: 9999;
  position: fixed;
  bottom: 30px;
  left: 230px;
  text-align: center;
  border-left: 1px solid white;
  text-transform: uppercase;
}
/* line 31, ../sass/_oneDep.scss */
#compteurs .blockInstallations .nbInstallations {
  color: #ffffff;
  font-size: 35px;
  font-family: "Oswald";
  letter-spacing: normal;
  display: block;
  font-weight: bold;
  line-height: 60px;
}
/* line 37, ../sass/_oneDep.scss */
#compteurs .blockInstallations .libelleNbInstallations {
  color: #ffffff;
  font-size: 15px;
  font-family: "Aspergit";
  letter-spacing: normal;
}
/* line 42, ../sass/_oneDep.scss */
#compteurs .blockLicences {
  height: 100px;
  width: 150px;
  background-color: #050505;
  z-index: 9999;
  position: fixed;
  bottom: 30px;
  left: 430px;
  text-align: center;
  border-left: 1px solid white;
  text-transform: uppercase;
}
/* line 53, ../sass/_oneDep.scss */
#compteurs .blockLicences .nbLicencies {
  color: #ffffff;
  font-size: 35px;
  font-family: "Oswald";
  letter-spacing: normal;
  display: block;
  font-weight: bold;
  line-height: 60px;
}
/* line 59, ../sass/_oneDep.scss */
#compteurs .blockLicences .libelleNbLicencies {
  color: #ffffff;
  font-size: 15px;
  font-family: "Aspergit";
  letter-spacing: normal;
}

/* line 23, ../sass/base.scss */
body, html {
  height: 100%;
}

/* line 27, ../sass/base.scss */
body {
  color: #050505;
  font-size: 14px;
  font-family: "Aspergit";
  letter-spacing: normal;
  border: solid #babdc0 30px;
}

/* line 32, ../sass/base.scss */
a,
a:active,
a:hover {
  outline: 0;
}

/* line 38, ../sass/base.scss */
.view {
  height: 100%;
}

/* line 42, ../sass/base.scss */
svg {
  display: block;
  overflow: hidden;
  /* fix IE */
}

/* line 47, ../sass/base.scss */
#svgMapDep {
  margin-top: -58px;
}

/*	NAVIGATION */
/* line 50, ../sass/base.scss */
#home-link {
  border-right: 1px solid #ffffff;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  left: 30px;
  height: 30px;
  width: 100px;
  background: #050505;
  z-index: 99999;
  color: #ffffff;
  font-size: 15px;
  font-family: "Aspergit";
  letter-spacing: 5px;
  text-decoration: none;
  line-height: 30px;
  -moz-transition-property: background, color;
  -o-transition-property: background, color;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 66, ../sass/base.scss */
#home-link:hover {
  background: #ffffff;
  color: #050505;
}

/* line 72, ../sass/base.scss */
#back {
  cursor: pointer;
  padding: 3px;
  position: fixed;
  top: 0;
  left: 130px;
  height: 30px;
  width: 30px;
  background: #050505;
  z-index: 99999;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 84, ../sass/base.scss */
#back:hover {
  background: #ffffff;
}
/* line 87, ../sass/base.scss */
#back:hover polygon {
  fill: #050505;
}

/* line 92, ../sass/base.scss */
#next {
  cursor: pointer;
  padding: 3px;
  position: fixed;
  top: 0;
  left: 160px;
  height: 30px;
  width: 30px;
  background: #050505;
  z-index: 99999;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 104, ../sass/base.scss */
#next:hover {
  background: #ffffff;
}
/* line 107, ../sass/base.scss */
#next:hover polygon {
  fill: #050505;
}

/* line 112, ../sass/base.scss */
#info {
  cursor: pointer;
  padding: 3px;
  position: fixed;
  top: 0;
  right: 30px;
  height: 30px;
  width: 30px;
  background: url('../sass/img/bck-info-window.png?1413648760') repeat;
  z-index: 99999;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 124, ../sass/base.scss */
#info:hover {
  background: #ffffff;
}
/* line 127, ../sass/base.scss */
#info:hover path {
  fill: #050505;
}

/* Information frame */
/* line 133, ../sass/base.scss */
.information {
  cursor: url('../sass/img/cross.png?1413661940'), auto;
  visibility: hidden;
  position: fixed;
  background: url('../sass/img/bck-info-window.png?1413648760') repeat;
  height: 100%;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  z-index: 999999;
}
/* line 143, ../sass/base.scss */
.information .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  color: #ffffff;
  font-size: 40px;
  font-family: "Aspergit Bold";
  letter-spacing: normal;
  width: 300px;
  margin-top: 100px;
}
/* line 150, ../sass/base.scss */
.information .table {
  margin-top: 20%;
  display: table;
  color: #ffffff;
  font-size: 28px;
  font-family: "Aspergit Bold";
  letter-spacing: normal;
}
/* line 154, ../sass/base.scss */
.information .table .table-row {
  display: table-row;
  text-align: center;
}
/* line 157, ../sass/base.scss */
.information .table .table-row div {
  display: table-cell;
  text-align: center;
  width: 13%;
}
/* line 161, ../sass/base.scss */
.information .table .table-row div span {
  display: inline-block;
}
/* line 164, ../sass/base.scss */
.information .table .table-row div .sportTitle {
  padding: 0 8px 0 8px;
  font-size: 16px;
}
/* line 167, ../sass/base.scss */
.information .table .table-row div .sportTitle span {
  font-size: 19px;
  display: inherit;
}
