/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,,800,900);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
/* line 5, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Aspergit";
  src: url('../fonts/aspergit-webfont.ttf?1413410359') format('truetype');
}
@font-face {
  font-family: "Aspergit Light";
  src: url('../fonts/aspergit_light-webfont.ttf?1413410360') format('truetype');
}
@font-face {
  font-family: "Aspergit Light Italic";
  src: url('../fonts/aspergit_light_italic-webfont.ttf?1413410360') format('truetype');
}
@font-face {
  font-family: "Aspergit Italic";
  src: url('../fonts/aspergit_italic-webfont.ttf?1413410359') format('truetype');
}
@font-face {
  font-family: "Aspergit Bold Italic";
  src: url('../fonts/aspergit_bold_italic_0-webfont.ttf?1413410359') format('truetype');
}
@font-face {
  font-family: "Aspergit Bold";
  src: url('../fonts/aspergit_bold-webfont.ttf?1413410359') format('truetype');
}
@font-face {
  font-family: "Blenda Script";
  src: url('../fonts/blenda_script-webfont.ttf?1413410360') format('truetype');
}
/* line 96, icon/*.png */
.icon-sprite, .icon-basketball, .icon-combat-old, .icon-combat, .icon-football, .icon-golf, .icon-horse, .icon-tennis {
  background-image: url('../sass/img/icon-s43ad4029b8.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-basketball {
  background-position: 0 0;
  height: 24px;
  width: 24px;
}

/* line 84, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-combat-old {
  background-position: 0 -24px;
  height: 24px;
  width: 24px;
}

/* line 84, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-combat {
  background-position: 0 -48px;
  height: 24px;
  width: 24px;
}

/* line 84, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-football {
  background-position: 0 -72px;
  height: 24px;
  width: 22px;
}

/* line 84, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-golf {
  background-position: 0 -96px;
  height: 24px;
  width: 24px;
}

/* line 84, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-horse {
  background-position: 0 -120px;
  height: 24px;
  width: 24px;
}

/* line 84, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-tennis {
  background-position: 0 -144px;
  height: 24px;
  width: 24px;
}

/* line 19, ../sass/base.scss */
body {
  color: #050505;
  font-size: 14px;
  font-family: "Aspergit";
  letter-spacing: normal;
}

/* line 23, ../sass/base.scss */
#borderTop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: #babdc0;
  z-index: 9999;
}

/* line 33, ../sass/base.scss */
#borderLeft {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30px;
  background: #babdc0;
  z-index: 9999;
}

/* line 43, ../sass/base.scss */
#borderBottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30px;
  background: #babdc0;
  z-index: 9999;
}

/* line 53, ../sass/base.scss */
#borderRight {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  background: #babdc0;
  z-index: 9999;
}

/* line 63, ../sass/base.scss */
svg {
  display: block;
  overflow: hidden;
  /* fix IE */
  margin-top: -70px;
}

/* line 69, ../sass/base.scss */
.departement {
  cursor: pointer;
}

/* line 73, ../sass/base.scss */
.departement:hover {
  fill: black;
}

/* line 77, ../sass/base.scss */
.textPathDep {
  font-size: 12px;
}

/* line 81, ../sass/base.scss */
.infoCurrentDep {
  margin-top: 100px;
  text-align: center;
}
/* line 84, ../sass/base.scss */
.infoCurrentDep .infoNomCurrentDep {
  color: #050505;
  font-size: 40px;
  font-family: "Aspergit";
  letter-spacing: normal;
  border-bottom: 1px solid #050505;
  padding-bottom: 25px;
}
/* line 90, ../sass/base.scss */
.infoCurrentDep .infoNumCurrentDep {
  color: #050505;
  font-size: 40px;
  font-family: "Oswald";
  letter-spacing: normal;
}
/* line 94, ../sass/base.scss */
.infoCurrentDep .infoNbLicenciesCurrentDep {
  padding-top: 25px;
  color: #050505;
  font-size: 35px;
  font-family: "Aspergit";
  letter-spacing: normal;
}
/* line 99, ../sass/base.scss */
.infoCurrentDep .infoLibelleNbLicenciesCurrentDep {
  color: #050505;
  font-size: 30px;
  font-family: "Aspergit";
  letter-spacing: normal;
  border-bottom: 1px solid #050505;
  padding-bottom: 25px;
}
/* line 106, ../sass/base.scss */
.infoCurrentDep .oneStatDep .listIcon {
  margin-top: 10px;
}
/* line 108, ../sass/base.scss */
.infoCurrentDep .oneStatDep .listIcon .iconSport {
  float: left;
  margin-left: 27px;
}
/* line 112, ../sass/base.scss */
.infoCurrentDep .oneStatDep .listIcon .firstIcon {
  float: left;
  margin-left: 15px;
}
/* line 118, ../sass/base.scss */
.infoCurrentDep .oneStatDep .listNbLicencies {
  display: block;
  height: 20px;
  margin-top: 45px;
  color: #050505;
  font-size: 18px;
  font-family: "Aspergit Light";
  letter-spacing: normal;
}
/* line 123, ../sass/base.scss */
.infoCurrentDep .oneStatDep .listNbLicencies .chiffre {
  text-align: center;
  width: 40px;
  float: left;
  margin-left: 10px;
}

/* line 133, ../sass/base.scss */
.titleSite {
  border-top: 1px solid #050505;
  text-align: center;
  margin-top: 100px;
}
/* line 137, ../sass/base.scss */
.titleSite .hightTitle {
  padding-top: 50px;
  color: #050505;
  font-size: 40px;
  font-family: "Oswald";
  letter-spacing: normal;
  margin-top: 25px;
}
/* line 142, ../sass/base.scss */
.titleSite .subTitle {
  color: #050505;
  font-size: 30px;
  font-family: "Aspergit";
  letter-spacing: normal;
  margin-top: 15px;
  font-style: italic;
  border-bottom: 1px solid #050505;
  padding-bottom: 50px;
}

/* line 152, ../sass/base.scss */
#chart .bar {
  float: left;
  background: #050505;
}

/* Sticky footer */
/* line 161, ../sass/base.scss */
#compteurs .blockDepartements {
  height: 100px;
  width: 200px;
  background-color: #050505;
  z-index: 9999;
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: center;
}
/* line 171, ../sass/base.scss */
#compteurs .blockDepartements .nbDepartements {
  color: #ffffff;
  font-size: 35px;
  font-family: "Oswald";
  letter-spacing: normal;
  display: block;
  font-weight: bold;
  line-height: 60px;
}
/* line 177, ../sass/base.scss */
#compteurs .blockDepartements .libelleNbDepartements {
  color: #ffffff;
  font-size: 15px;
  font-family: "Aspergit";
  letter-spacing: normal;
}
/* line 182, ../sass/base.scss */
#compteurs .blockInstallations {
  height: 100px;
  width: 200px;
  background-color: #050505;
  z-index: 9999;
  position: absolute;
  bottom: 30px;
  left: 230px;
  text-align: center;
  border-left: 1px solid white;
}
/* line 192, ../sass/base.scss */
#compteurs .blockInstallations .nbInstallations {
  color: #ffffff;
  font-size: 35px;
  font-family: "Oswald";
  letter-spacing: normal;
  display: block;
  font-weight: bold;
  line-height: 60px;
}
/* line 198, ../sass/base.scss */
#compteurs .blockInstallations .libelleNbInstallations {
  color: #ffffff;
  font-size: 15px;
  font-family: "Aspergit";
  letter-spacing: normal;
}
/* line 203, ../sass/base.scss */
#compteurs .blockLicences {
  height: 100px;
  width: 150px;
  background-color: #050505;
  z-index: 9999;
  position: absolute;
  bottom: 30px;
  left: 430px;
  text-align: center;
  border-left: 1px solid white;
}
/* line 213, ../sass/base.scss */
#compteurs .blockLicences .nbLicencies {
  color: #ffffff;
  font-size: 35px;
  font-family: "Oswald";
  letter-spacing: normal;
  display: block;
  font-weight: bold;
  line-height: 60px;
}
/* line 219, ../sass/base.scss */
#compteurs .blockLicences .libelleNbLicencies {
  color: #ffffff;
  font-size: 15px;
  font-family: "Aspergit";
  letter-spacing: normal;
}
